@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--main-font);
  font-size: 0.8rem;
  background-color: #ffffff;
}

.navBar__container {
  display: flex;
  align-items: center;
  width: 80rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #202020;
}

main {
  display: flex;
  justify-content: center;
  width: 100rem;
}

.div-btn-navigation {
  display: flex;
  margin-left: 0rem;
  justify-content: left;
  gap: 2rem;
}

.navBar__menu--logo img {
  width: 18rem;
  padding: 0.6rem 0;
}

.navBar__menu--buttons {
  margin: 1.2rem 0 0;
  font-size: 0.8rem;
}

.navBar__menu--dashboard {
  font-size: 15px;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
}

.navBar__menu--dashboard a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.navBar__menu--employee a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.navBar__menu--employee a:hover {
  font-size: 15px;
  color: #fff;
}

.navBar-active {
  color: black;
  background-color: #eeeeee;
  font-weight: 700;
}

.navBar-active a {
  color: black;
  font-weight: 700;
}

.navBar__button--logout {
  background-color: #202020;
  color: #eeeeee;
  font-weight: 400;
  border: none;
}

.navBar__button--logout:hover {
  background: #432acb;
  padding: 6px 15px;
  border-radius: 11px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.menu__title--table {
  font-size: 0.7rem;
  font-weight: 800;
}

.hide {
  display: none;
}

.table-sm {
  width: 80rem;
  height: 35rem;
}

input {
  width: 8rem;
}

.table-sm .tbody__employee--td {
  padding: 0.3rem;
  width: 10rem;
}

.tbody__employee--td:hover {
  cursor: pointer;
}

.tbody__employ--icon {
  width: 1rem;
}

.alert-success {
  position: absolute;
  height: 3rem;
  width: 80rem;
}

.footer__container--div {
  margin-top: 1.5rem;
}

.footer__container--div p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: 3rem;
  background-color: #393e46;
  color: #eeeeee;
  border-radius: 0 0 0.5rem 0.5rem;
}

.footer__text {
  font-size: 0.7rem;
  font-weight: 300;
}

.btn__trash--icon {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #393e46;
}

.add__user--button {
  font-size: 1.3rem;
  padding-right: 1.2rem;
}

.menu__title--container {
  width: 85rem;
  height: 3rem;
  background-color: #c8fff6;
}

.tbody__emplpoyees--tr {
  height: 3.5rem;
}

.tbody__emplpoyees--tr:nth-child(even) {
  background-color: #eee;
}

.create__user--container {
  border-bottom: 1px solid black;
}

.create__user--button {
  border: none;
  background-color: transparent;
  color: #20b684;
}

.create__user--input {
  width: 8rem;
  height: 1.4rem;
  background-color: #eeeeee;
  border: none;
  border-radius: 0.2rem;
}

.create__user--input:focus {
  background-color: #ecfdf8;
}

.tbody__employee--td:nth-child(2) {
  font-weight: 800;
}

.div-btn-navigation {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.back__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: #4ecca3;
  border-radius: 0.3rem;
  color: #eeeeee;
  font-weight: 400;
  border: none;
}

.back__btn i {
  padding-top: 0.15rem;
  font-size: 0.6rem;
  margin-right: 0.2rem;
}

.back__btn:hover {
  background-color: #20b684;
  cursor: pointer;
}

.next__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: #4ecca3;
  border-radius: 0.3rem;
  color: #eeeeee;
  font-weight: 400;
  border: none;
}

.next__btn i {
  padding-top: 0.15rem;
  font-size: 0.6rem;
  margin-left: 0.2rem;
}

.next__btn:hover {
  background-color: #20b684;
  cursor: pointer;
}

.submit__button {
  width: 6rem;
  background-color: #4ecca3;
  border: none;
  border-radius: 0.4rem;
}

.submit__button:hover {
  background-color: #20b684;
}

.return__button {
  width: 6rem;
  margin-right: 1rem;
  background-color: #9c9c9c;
  border: none;
  border-radius: 0.4rem;
}

.user__avatar {
  display: flex;
  justify-content: flex-start;
  width: 69.2rem;
  padding: 2rem 0 1.3rem 0;
}

.image-avatar {
  height: 9rem;
  border-radius: 0.3rem;
}
