.container {
  width: 72rem;
  display: flex;
  justify-content: space-between;
  max-width: initial;
  gap: 10px;
}

.goal {
  display: flex;
  background-image: url("../img/km.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 10px;
  border-radius: 4px;
  width: 40%;
  justify-content: space-evenly;
  padding: 10px 20px;
}
.goalText {
  margin: auto;
}
.goalDays {
  text-align: center;
  margin: auto;
}

.mediumPoppins {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  margin: auto;
}

.calendarPoppins {
  background: white;
  color: #232235;
  font-size: xxx-large;
  padding: 0px 10px;
  font-weight: 700;
  margin: auto;
}

.daysPoppins {
  font-size: 26px;
  font-weight: bold;
  margin: auto;
}
.kmPoppins {
  margin: auto;
  font-size: 30px;
  line-height: 0.8;
  font-family: inherit;
  font-weight: bolder;
}

.kmRestPoppins {
  margin: auto;
}
/* Resume Text */
.resumeText {
  display: flex;
  background-image: url("../img/buddyGray.jpg");
  background-size: cover;
  background-position: center;
  color: #232235;
  margin-top: 10px;
  border-radius: 4px;
  width: inherit;
  justify-content: space-evenly;
  padding: 10px 20px;
}

.goalResumeText {
  font-size: 35px;
  text-align: right;
  padding-left: 20%;
  margin: auto;
  font-weight: 700;
}

/* Distance */
.distance {
  background-image: url("../img/team.jpg");
  width: 70rem;
  margin-top: 10px;
  background-size: cover;
  height: 140px;
  border-radius: 5px;
  background-position: center;
  background-position-x: 0px;
}

.resumeText__p {
  font-size: 20px;
  text-align: center;
}

.coverage {
  font-size: 30px;
  width: 50%;
  color: whitesmoke;
  margin: auto;
  padding-top: 20px;
}

.yellow {
  color: #ffae00;
  background: transparent;
  font-weight: 800;
}

/* Ranking */
.ranking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  width: 80rem;
  border: 1px solid red;
  gap: 0.5rem;
}

.rankingType {
  height: 100%;
  border: 1px solid red;
  flex: 1 0 0;
  /* margin-right: 0.5rem; */
}

.rankingHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.rankingTotal__img {
  height: 50px;
  width: 50px;
  flex:1 0 0;
}

.rankingTotal__p {
  flex-basis: 1 0 0;
}

.rankingText__p {
  flex-basis: 1 0 0;
}

.card-counter {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 200px;
  width: 150px;
  border-radius: 5px;
  transition: 0.3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #fff;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #fff;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #fff;
}

.card-counter.info {
  background-color: #26c6da;
  color: #fff;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}
